@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center form-group">
    <form asp-controller="Home" asp-action="Second" method="get">
        <input type="text" class="form-control" name="name" />
        <input type="submit" value="Submit"/>
    </form>
</div>
